#root {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.slider-wrapper {
    width: 90vw;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.slider-content {
    width: 100%;
    align-self: center;
}

.slider-content img {
    width: auto;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
}
