#root {
    min-width: 320px;
    min-height: 100vh;
    width: 100vw;
}

.layout {
    padding: 2rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.slider-wrapper {
    width: calc(100vw - 4rem);
    height: calc(100vh - 260px);
    display: flex;
    justify-content: center;
}

.slider-content {
    width: 100%;
    align-content: center;
    overflow: hidden;
}

.slider-content img {
    object-fit: cover;
    position: relative;
    right: 0;
    max-width: 100%;
    height: calc(100vh - 260px);
    width: 100%;
    cursor: pointer;
}

.left-button {
    border-radius: 10px 0 0 10px;
}

.right-button {
    border-radius: 0 10px 10px 0;
}
