#root {
    min-width: 320px;
    min-height: 100vh;
    width: 100vw;
}

.layout {
    padding: 2rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.slider-wrapper {
    width: calc(100vw - 4rem);
    height: calc(100vh - 280px);
    max-width: 1280px;
    max-height: 960px;
    display: flex;
    justify-content: center;
}

.slider-content {
    width: 100%;
    align-content: center;
    overflow: hidden;
}

.slider-content img {
    object-fit: cover;
    position: relative;
    right: 0;
    max-width: 100%;
    height: calc(100vh - 280px);
    max-height: 960px;
    width: 100%;
    cursor: pointer;
}

.left-button {
    border-radius: 10px 0 0 10px;
    padding: 6px;
}

.left-button img {
    transform: rotate(90deg);
}

.right-button {
    border-radius: 0 10px 10px 0;
    padding: 6px;
}

.right-button img {
    transform: rotate(270deg);
}

.cta-button {
    background: linear-gradient(90deg, #8fc7ff 0%, #d566fb 100%);
    border-color: #5251a9;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-dots-container {
    display: flex;
    justify-content: center;
}

.slider-dot {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #5251a9;
    margin: 0 5px;
    transition: width 0.5s ease 0s;
}